/node_modules
/dist
/config.js
/.idea
*.sass-cache
/src/css/*.css
*.css.map
*log
**/.DS_Store
/publish/*
/publish.zip
/package-lock.json

*/*.iml
*/.gradle
*/local.properties
*/.idea
*/build
/.temp
/release
/platforms
/src/entry/weex
/src/entry/web

package-lock.json
